@charset "UTF-8";
.btn-group{
    text-align: center;
    margin-top: 0;
    background: rgb(254,254,254);
    height: 30px;
    padding: 8px 0px;
    border-bottom: 1px solid rgb(228, 228, 228);
}
.btn-group button {
    border: none;
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 20px;
    background: rgba(252,252,252,0);
    color: rgb(25, 92, 162);
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 19px;
}

.btn-group button:hover {   
	font-weight: 400;
    font-size: 18px;
}

.showWhat{	
    display: flow-root;
    background: #f3f3f3;
    min-height: 900px;
}